<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/home.css">
    <script src="js/jquery-3.6.0.min.js"></script>
    <script type="application/javascript" src="https://cdn.jsdelivr.net/gh/beatgammit/base64-js@bf68aaa277d9de7007cc0c58279c411bb10670ac/base64js.min.js"></script>

<script type="application/javascript" src="https://cdn.jsdelivr.net/gh/ricmoo/aes-js@e27b99dff787a143e59a3de473cab53e8375af36/index.js"></script>
    <script src="js/highlight-min.js"></script>
    <script src="js/highlightjs-linenumbers-min.js"></script>
    <script src="js/index.js"></script>
    <title>McDebug</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <noscript><h1>Your browser does not support JavaScript</h1></noscript>
</head>
<body onload="load()">
</body>
</html>